/* For use in src/lib/core/theming/_palette.scss */

/* For use in src/lib/core/theming/_palette.scss */
$darkprimary: (
  50: #e1e1e1,
  100: #b3b4b5,
  200: #808284,
  300: #4d4f53,
  400: #272a2e,
  500: #010409,
  600: #010308,
  700: #010306,
  800: #010205,
  900: #000102,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$darksecondary: (
  50: #e2e2e3,
  100: #b7b8b9,
  200: #87888b,
  300: #56585d,
  400: #32353a,
  500: #0e1117,
  600: #0c0f14,
  700: #0a0c11,
  800: #080a0d,
  900: #040507,
  A100: #4eb7ff,
  A200: #1ba3ff,
  A400: #0089e7,
  A700: #007ace,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$errorpalette: (
  50: #f6e5e5,
  100: #e9bdbd,
  200: #db9192,
  300: #cc6566,
  400: #c14445,
  500: #b62324,
  600: #af1f20,
  700: #a61a1b,
  800: #9e1516,
  900: #8e0c0d,
  A100: #ffbebe,
  A200: #ff8b8c,
  A400: #ff5859,
  A700: #ff3e40,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
