
$--theme-color-bg: #010409;
$--theme-color-on-bg: #E5EDF2;
$--theme-color-surface: #0E1117;
$--theme-color-on-surface: #E5EDF2;
$--theme-color-accent: #2F81F7;
$--theme-color-border: rgba(240,246,252,0.1);

$--color-done: #8957E5;
$--color-green: #3FB950;
$--color-green-emphasis: #238636;
$--color-border-active: #F78166;

$--color-btn-bg: #21262C;
$--color-btn-border: rgba(240,246,252,0.1);
$--color-btn-hover-bg: rgba(177,186,196,0.12);
$--color-btn-hover-border: #8B949D;
$--color-btn-text: #C8D1D9;

$--color-btn-primary-bg: #238636;
$--color-btn-primary-border: rgba(240,246,252,0.1);
$--color-btn-primary-hover-bg: #2EA043;
$--color-btn-primary-hover-border: rgba(240,246,252,0.1);
$--color-btn-primary-text: #FFF;

$--color-btn-accent-bg: transparent;
$--color-btn-accent-color: #2F81F7;
