$--theme-color-bg: #010409;
$--theme-color-on-bg: #e5edf2;
$--theme-color-surface: #0e1117;
$--theme-color-on-surface: #e5edf2;
$--theme-color-accent: #2f81f7;
$--theme-color-border: rgba(240, 246, 252, 0.1);

$--color-done: #8957e5;
$--color-green: #3fb950;
$--color-green-emphasis: #238636;
$--color-border-active: #f78166;

$--color-btn-bg: #21262c;
$--color-btn-border: rgba(240, 246, 252, 0.1);
$--color-btn-hover-bg: rgba(177, 186, 196, 0.12);
$--color-btn-hover-border: #8b949d;
$--color-btn-text: #c8d1d9;

$--color-btn-primary-bg: #238636;
$--color-btn-primary-border: rgba(240, 246, 252, 0.1);
$--color-btn-primary-hover-bg: #2ea043;
$--color-btn-primary-hover-border: rgba(240, 246, 252, 0.1);
$--color-btn-primary-text: #fff;

$--color-btn-accent-bg: transparent;
$--color-btn-accent-color: #2f81f7;
