<mat-toolbar class="nav-bar">
  <span>ez track</span>
  <div class="nav-bar-item">
    <eztrack-button
      type="nav"
      routerLink="/home"
    >Home</eztrack-button>
  </div>
  <div class="nav-bar-item">
    <eztrack-button
      type="nav"
      routerLink="/budget"
    >Budget</eztrack-button>
  </div>
  <div class="nav-bar-item">
    <eztrack-button
      type="nav"
      routerLink="/link"
    >Link</eztrack-button>
  </div>
  <span class="nav-bar-spacer"></span>
  <div class="nav-bar-item">
    <eztrack-button
      type="nav"
      routerLink="/auth/login"
    >Login</eztrack-button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>